- page_title _('Contributors')

.sub-header-block.bg-gray-light.gl-p-5
  .tree-ref-holder.inline.vertical-align-middle
    = render 'shared/ref_switcher', destination: 'graphs'
  = link_to s_('Commits|History'), project_commits_path(@project, current_ref), class: 'btn gl-button btn-default'

.js-contributors-graph{ class: container_class, 'data-project-graph-path': project_graph_path(@project, current_ref, format: :json), 'data-project-branch': current_ref }
